<html>
<head>
<title> new message </title>
<link rel="stylesheet" href= "/styles.css">
</head>
<body>
  <div class="formContainer">
  <form method = "POST" action = "/new">
   <div class = "inputs">
   <input type = "text" placeholder="Username" name="user" required/>
   <input type = "text" placeholder="Message" name="message" required/>
   </div>
   <span class="submits">
   <button class="button" type="submit"> Post </button>
   <button class="button" type="button"><a href ='/'>Cancel</a></button>
      
   </span>
  </form>
  </div>
 </body>
 </html>
