<html>
<head>
<title> new message </title>
</head>
<body>
  <div class="formContainer">
  <form method = "POST" action = "/new">
   <div class = "inputs">
   <input type = "text" name="user" />
   <input type = "text" name="message" />
   </div>
   <span class="submits">
   <button type="submit"> Post </button>
   <button type="button"><a href ='/'>Cancel</a></button>
      
   </span>
  </form>
  </div>
 </body>
 </html>
