<html>
<head>
  <title> main page </title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="textsContainer">
<button class="button" type = 'button'> <a href="/new"> new post </a> </button>
<% for(let i=0; i<messages.length; i++){%>

<div class="details">
  <span class="user">
    <%=messages[i].user%>:
  </span>
  <span class="text">
    <%=messages[i].text%>
  </span>
  <span class="date">
  - <%=messages[i].added.toDateString()%>
  </span>
</div>


<%}%> 
 </div>
</body>
</html>
